<div class="comment-container">
    <div class="comment-details">
        <img src="images/post/comment.png" class="comment-filter">
        <p><span id="comment-username">shellyace</span> commented on <span id="comment-post-title">The
                Ultimate
                Showdown: Kafka or Himeko</span> • Posted by IAmLoaf21</p>
    </div>
    <div class="comment-content">
        <i>shellyace</i><br>
        The answer is neither. The real best girl is Silver Wolf.<br>
        <button class="reply-button">
            Reply
        </button>
    </div>
</div>