<div class="search-user">
    <img src="../static/images/profile/{{name}}.png" class="post-profile">
    <div class="name-container">
        <h5><a href="sample-profile.html">{{name}}</a></h5>
        <p><a href="sample-profile.html">{{username}}</a></p>
    </div>
    <button class="follow-btn">Follow</button>
</div>