@font-face {
    font-family: 'Inter';
    src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
    color: #2C394B;
    font-size: 14px;
    line-height: 18px;
    background-color: #FFFCFC;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}

#policy-container {
    display: flex;
    flex-direction: row;
    margin: 70px 120px 70px 120px;
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Jump Section */

#jump-info {
    width: 20%;
    text-align: left;
}

#jump-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.jump-link {
    text-decoration: none;
    color: #2C394B;
    font-weight: 300;
    line-height: 1.5;
}

/* Privacy Policy Section */

#policy-info {
    width: 80%;
    text-align: left;
    margin-left: 60px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #DEE3E7;
}

#policy-title {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
}

#policy-info p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
}

.policy-sections {
    font-size: 20px;
    margin: 30px 0 20px 0;
    padding: 0;
}