@font-face {
	font-family: 'Inter';
	src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
	color: #2C394B;
	font-size: 14px;
	line-height: 18px;
	background-color: #FFFCFC;
	margin: 0;
	padding: 0;
	font-family: 'Inter', serif;
	justify-content: center;
	text-align: center;
	justify-content: space-between;
}

.content-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 20px 20px 30px 20px;
	justify-content: space-between;
}

/* Poll Container */

.poll-container {
	width: 70%;
	text-align: left;
}

.poll-container h2 {
	font-size: 36px;
	font-weight: 600;
}

.poll-container p {
	font-size: 16px;
	line-height: 1.5;
}

.poll-title {
	font-size: 30px;
	font-weight: 500;
	margin-top: 40px;
}

.bold {
	font-weight: 500;
}

hr {
	border: none;
	height: 0.5px;
	background-color: #DEE3E7;
}

/* Actual Polls */

.poll-item {
	display: flex;
	background-color: #FF4C29;
	border-radius: 15px;
	margin: 20px 0;
	align-items: center;
}

.pi-ranking {
	font-size: 30px;
	color: #FFFCFC;
	margin: auto 40px;
}

.pi-image-container {
	width: 350px;
	height: 90px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.life-poll-img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin-top: 70px;
}

.waifu-poll-img {
	width: 100%;
	height: auto;
	object-fit: contain;
	margin-top: 180px;
}

.pi-title {
	font-size: 30px;
	color: #FFFCFC;
	margin: auto auto;
}

/* Sidebar */

.sidebar-container {
	width: 30%;
	height: 640px;
	margin-left: 80px;
	border-radius: 20px;
	border: 1px solid #2C394B;
	background-color: transparent;
}

.sidebar-container h3 {
	font-weight: 600;
	font-size: 26px;
	color: #1E883E;
}

.sidebar-items {
	margin: 30px;
	text-align: left;
}

.sidebar-info h4 {
	margin-bottom: 10px;
	padding: 0;
}

.sidebar-info p {
	margin-bottom: 25px;
	padding: 0;
	line-height: 1.5;
}