<script src="/static/js/carousel.js"></script>

<div class="row-content-container">
    <div id="anime-section">
        <!-- New Release -->
        <h1 class="font-animesec">New Release</h1>
        <div id="new-release-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://myanimelist.net/anime/51009/Jujutsu_Kaisen_2nd_Season" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/1.png" alt="Jujutsu Kaisen 2nd Season">
                    </a>
                    <a href="https://myanimelist.net/anime/51179/Mushoku_Tensei_II__Isekai_Ittara_Honki_Dasu"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/2.png"
                            alt="Mushoku Tensei II: Isekai Ittara Honki Dasu">
                    </a>
                    <a href="https://myanimelist.net/anime/33487/Masamune-kun_no_Revenge" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/3.png" alt="Masamune-kun no Revenge R">
                    </a>
                    <a href="https://myanimelist.net/anime/53050/Kanojo_Okarishimasu_3rd_Season" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/4.png"
                            alt="Kanojo, Okarishimasu 3rd Season">
                    </a>
                    <a href="https://myanimelist.net/anime/53998/Bleach__Sennen_Kessen-hen_-_Ketsubetsu-tan"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/5.png"
                            alt="Bleach: Sennen Kessen-hen - Ketsubetsu-tan">
                    </a>
                </div>
                <div class="item">
                    <a href="https://myanimelist.net/anime/54856/Horimiya__Piece" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/6.png" alt="Horimiya: Piece">
                    </a>
                    <a href="https://myanimelist.net/anime/54234/Suki_na_Ko_ga_Megane_wo_Wasureta" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/7.png"
                            alt="Suki na Ko ga Megane wo Wasureta">
                    </a>
                    <a href="https://myanimelist.net/anime/48633/Liar_Liar" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/8.png" alt="Liar Liar">
                    </a>
                    <a href="https://myanimelist.net/anime/50582/Nanatsu_no_Maken_ga_Shihai_suru" class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/9.png"
                            alt="Nanatsu no Maken ga Shihai suru">
                    </a>
                    <a href="https://myanimelist.net/anime/54112/Zom_100__Zombie_ni_Naru_made_ni_Shitai_100_no_Koto"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/new-release/10.png"
                            alt="Zom 100: Zombie ni Naru made ni Shitai 100 no Koto">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#new-release-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#new-release-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <br /><br />

        <!-- Shoujo -->
        <h1 class="font-animesec">Shoujo</h1>
        <div id="shoujo-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://myanimelist.net/anime/853/Ouran_Koukou_Host_Club" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/1.png" alt="Ouran Koukou Host Club">
                    </a>
                    <a href="https://myanimelist.net/anime/25013/Akatsuki_no_Yona" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/2.png" alt="Akatsuki no Yona">
                    </a>
                    <a href="https://myanimelist.net/anime/6045/Kimi_ni_Todoke" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/3.png" alt="Kimi ni Todoke">
                    </a>
                    <a href="https://myanimelist.net/anime/30123/Akagami_no_Shirayuki-hime" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/4.png" alt="Akagami no Shirayuki-hime">
                    </a>
                    <a href="https://myanimelist.net/anime/25681/Kamisama_Hajimemashita%E2%97%8E" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/5.png" alt="Kamisama Hajimemashita">
                    </a>
                </div>
                <div class="item">
                    <a href="https://myanimelist.net/anime/14289/Suki_tte_Ii_na_yo" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/6.png" alt="Suki tte Ii na yo.">
                    </a>
                    <a href="https://myanimelist.net/anime/4722/Skip_Beat" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/7.png" alt="Skip Beat">
                    </a>
                    <a href="https://myanimelist.net/anime/3470/Special_A" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/8.png" alt="Special A">
                    </a>
                    <a href="https://myanimelist.net/anime/36793/3D_Kanojo__Real_Girl" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/9.png" alt="3D Kanojo: Real Girl">
                    </a>
                    <a href="https://myanimelist.net/anime/22101/Soredemo_Sekai_wa_Utsukushii" class="slide-div">
                        <img src="/static/images/carousel/anime/shoujo/10.png" alt="Soredemo Sekai wa Utsukushii">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#shoujo-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#shoujo-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <br /><br />

        <!-- Shounen -->
        <h1 class="font-animesec">Shounen</h1>
        <div id="shounen-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="https://myanimelist.net/anime/22043/Fairy_Tail_2014" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/1.png" alt="Fairy Tail">
                    </a>
                    <a href="https://myanimelist.net/anime/24833/Ansatsu_Kyoushitsu?q=assassj%20&cat=anime"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/2.png" alt="Assassination Classroom">
                    </a>
                    <a href="https://myanimelist.net/anime/16498/Shingeki_no_Kyojin" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/3.png" alt="Attack on Titans">
                    </a>
                    <a href="https://myanimelist.net/anime/21/One_Piece" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/4.png" alt="One Piece">
                    </a>
                    <a href="https://myanimelist.net/anime/20507/Noragami" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/5.png" alt="Noragami">
                    </a>
                </div>
                <div class="item">
                    <a href="https://myanimelist.net/anime/136/Hunter_x_Hunter?q=Hunter%20x%20&cat=anime"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/6.png" alt="Hunter x Hunter">
                    </a>
                    <a href="https://myanimelist.net/anime/1735/Naruto__Shippuuden?q=Naruto&cat=anime"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/7.png" alt="Naruto">
                    </a>
                    <a href="https://myanimelist.net/anime/31964/Boku_no_Hero_Academia?q=My%20Hero&cat=anime"
                        class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/8.png" alt="My Hero Academia">
                    </a>
                    <a href="https://myanimelist.net/anime/1535/Death_Note?q=Death%20Note&cat=anime" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/9.png" alt="Death Note">
                    </a>
                    <a href="https://myanimelist.net/anime/40748/Jujutsu_Kaisen" class="slide-div">
                        <img src="/static/images/carousel/anime/shounen/10.png" alt="Jujutsu Kaisen">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#shounen-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#shounen-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div id="info-section">

        <!-- Top Post -->
        <h3>Top Post</h3>
        <hr>
        <div class="top-post-container">
            {{> topPost toppost}}
        </div>

        <!-- Top Contributors -->
        <h3>Top Contributors</h3>
        <hr>
        <div class="check-container">
            {{#each topusers}}
            {{> topUsers}}
            {{/each}}
        </div>
    </div>
</div>

<button class="scroll-up-button">
    <img src="/static/images/icons/scroll.png" class="scroll-up">
</button>