 <script src="/static/js/profile.js"></script>
<script src="/static/js/edit.js"></script>

<!-- Profile Content -->
<div class="row-content-container">
    <div id="profile-container">
        <div id="image-container">
            <img src="/static/images/profile/cinnamoroll.png" id="profile-pic">
            <button id="change-image-btn"></button>
        </div>
        <h2 id="name">Cinnamoroll</h2>
        <h4 id="profile-username">u/shellyace</h4>
        <p id="bio">"meron ka bang mga emotional baggage?"<br><br>"i prefer to carry small bags."
        </p>
        <input type="button" id="edit-button" value="Edit Profile" onclick="window.location.href='edit.html'">
        <div id="followers-container">
            <img src="/static/images/icons/followers.png">
            <p><span class="bold">3</span> followers • <span class="bold">2</span> following</p>
        </div>
    </div>
    <div id="overview-container">
        <!-- Filter Buttons -->
        <div id="filters-container">
            {{#each filters}}
            <button class="filter" data-filter="{{this}}">{{this}}</button>
            {{/each}}
        </div>
        <hr id="filter-hr">

        <!-- Overview -->
        <div id="Overview-view">

            <!-- Create a Post -->
            <div class="user-post-container">
                <img src="/static/images/profile/cinnamoroll.png" class="post-profile">
                <a href="javascript:void(0)" onclick="openPopup();" class="post-textbox">Write a post</a>
                <script>openCreatePost();</script>
            </div>

            <div class="posts-container">
                {{#each posts}}
                {{> post this}}
                {{/each}}
            </div>
        </div>

        <!-- Posts -->
        <div id="Posts-view">
            <div class="posts-container">
                {{#each posts}}
                {{> post this}}
                {{/each}}
            </div>
        </div>

        <!-- Comments -->
        <div id="Comments-view">
            <div class="posts-container">
                {{#each commentPosts}}
                {{> post this}}
                {{/each}}
            </div>
        </div>

        <!-- Upvotes -->
        <div id="Upvoted-view">
            <div class="empty-container">
                <img src="/static/images/icons/empty.png" class="empty-icon">
                <h2 class="empty-text">Looks like there's nothing here</h2>
            </div>
        </div>

        <!-- Downvotes -->
        <div id="Downvoted-view">
            <div class="empty-container">
                <img src="/static/images/icons/empty.png" class="empty-icon">
                <h2 class="empty-text">Looks like there's nothing here</h2>
            </div>
        </div>

        <!-- Saved -->
        <div id="Saved-view">
            <div class="empty-container">
                <img src="/static/images/icons/empty.png" class="empty-icon">
                <h2 class="empty-text">Looks like there's nothing here</h2>
            </div>
        </div>
    </div>
</div>

<button class="scroll-up-button">
    <img src="/static/images/icons/scroll.png" class="scroll-up">
</button>