<!-- Polls Container -->
<div class="row-content-container">

    <div class="poll-container">
        <h2>Polls</h2>
        <p>With each new year that passes, we are given new games, mangas, and animes to enjoy. Some are great, some
            are so-so, and some are just horribly done (looking at you Promised Neverland Season 2). We all have our
            own insights, so join the poll community now!</p>

        <!-- Best Slice of Life Anime -->
        <h3 class="poll-title">Best Slice of Life Anime</h3>
        <p><span class="bold">Participate in our poll for the best slice of life anime series!</span>
            Share your
            favorite shows, characters, and standout moments that have
            touched your heart. Engage with fellow fans, discover new slice of life gems, and
            celebrate the beauty of these relatable and heartwarming narratives. Let's delve
            into the enchanting world of slice of life anime together and determine the ultimate
            series that captures the essence of everyday life!
        </p>
        <hr>
        <div id="poll-item1" class="poll-item">
            <span class="pi-ranking">#1</span>
            <div class="pi-image-container"><img class="life-poll-img" src="/static/images/polls/kon.png" alt="K-On"></div>
            <span class="pi-title">K-On!</span>
        </div>
        <div id="poll-item2" class="poll-item">
            <span class="pi-ranking">#2</span>
            <div class="pi-image-container"><img class="life-poll-img" src="/static/images/polls/toradora.png"
                    alt="Toradora"></div>
            <span class="pi-title">Toradora</span>
        </div>
        <div id="poll-item3" class="poll-item">
            <span class="pi-ranking">#3</span>
            <div class="pi-image-container"><img class="life-poll-img" src="/static/images/polls/hyouka.png" alt="Hyouka">
            </div>
            <span class="pi-title">Hyouka</span>
        </div>
        <div id="poll-item4" class="poll-item">
            <span class="pi-ranking">#4</span>
            <div class="pi-image-container"><img class="life-poll-img" src="/static/images/polls/snafu.png" alt="SNAFU">
            </div>
            <span class="pi-title">OreGairu</span>
        </div>
        <div id="poll-item5" class="poll-item">
            <span class="pi-ranking">#5</span>
            <div class="pi-image-container"><img class="life-poll-img" src="/static/images/polls/anohana.png" alt="Anohana">
            </div>
            <span class="pi-title">Anohana</span>
        </div>

        <!-- Waifu of the Month -->
        <h3 class="poll-title">Waifu of the Month</h3>
        <p><span class="bold">Welcome to the July edition of our most anticipated poll series!</span>
            It's time to celebrate the beloved waifus of anime. Join us in the 'Best Waifu of the Month' poll, where
            we honor the captivating female characters that have captured our hearts. Share your favorite shows,
            characters, and unforgettable moments that make these waifus special.
        </p>
        <hr>
        <div id="poll-item1" class="poll-item">
            <span class="pi-ranking">#1</span>
            <div class="pi-image-container"><img class="waifu-poll-img" src="/static/images/waifus/kafka.jpg" alt="Kafka">
            </div>
            <span class="pi-title">Kafka</span>
        </div>
        <div id="poll-item2" class="poll-item">
            <span class="pi-ranking">#2</span>
            <div class="pi-image-container"><img class="waifu-poll-img" src="/static/images/waifus/makima.jpeg"
                    alt="Makima"></div>
            <span class="pi-title">Makima</span>
        </div>
        <div id="poll-item3" class="poll-item">
            <span class="pi-ranking">#3</span>
            <div class="pi-image-container"><img class="waifu-poll-img" src="/static/images/waifus/himeko.png" alt="Himeko">
            </div>
            <span class="pi-title">Himeko</span>
        </div>
        <div id="poll-item4" class="poll-item">
            <span class="pi-ranking">#4</span>
            <div class="pi-image-container"><img class="waifu-poll-img" src="/static/images/waifus/esdeath.png"
                    alt="Esdeath"></div>
            <span class="pi-title">Esdeath</span>
        </div>
        <div id="poll-item5" class="poll-item">
            <span class="pi-ranking">#5</span>
            <div class="pi-image-container"><img class="waifu-poll-img" src="/static/images/waifus/megumi.jpg" alt="Megumi">
            </div>
            <span class="pi-title">Megumi</span>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="polls-rightside">
        <div class="rightside-title-container">
            <h4>ABOUT</h4>
        </div>
        <div class="rightside-content">
            <h4>Everyone gets a voice!</h4>
            <p>Voting allows your voice to be heard! Opinions and insights from all of you, helps everyone
                understand different perspectives and preferences.</p>
        </div>
        <div class="rightside-content">
            <h4>Vote for your favorites!</h4>
            <p>Join the community in ranking weeb things by voting for your favorites!</p>
        </div>
        <div class="rightside-content">
            <h4>Look for recommendations!</h4>
            <p>You might discover hidden gems or things you haven't explored yet through other peoples
                votes! It could also help you make informed decisions for things you are unsure of!</p>
        </div>
        <div class="rightside-content">
            <h4>Fostering a sense of community!</h4>
            <p>You will get to interact with like-minded individuals, allowing you to connect, share, and
                bond over common interests!</p>
        </div>
    </div>
</div>
<button class="scroll-up-button">
    <img src="/static/images/icons/scroll.png" class="scroll-up">
</button>
