<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/style/styles.css">
    <link rel="icon" href="/static/images/icons/icon.png" type="image/png">
    <script src="/static/js/signin.js"></script>
</head>

<body id="signin-body">

    <!--Home Button Image Div-->
    <header>
        <a href="/">
            <img src="/static/images/logo/logo1.png" id="signin-logo">
        </a>
        <h2 class="signin-title">Sign In To Your Account!</h2>
    </header>

    <!--Sign In Div-->
    <div class="signin-container">
        <form class="signin-form">
            <input type="text" id="username-input" class="textbox" placeholder="Username" required><br>
            <input type="password" id="password-input" class="textbox" placeholder="Password" required>
            <div id="warning" style="color: red;"></div>
            <br>
            <div class="remember-forget-container">
                <div class="remember">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember Me</label>
                </div>
            </div>
            <div class="button-container">
                <input type="button" class="button" value="Sign In" id="signin-button">
                <input type="button" class="button" value="Register" onclick="window.location.href='/register'">
                <input type="button" class="button" value="Continue Anonymously" id="anonButton">
            </div>
        </form>
    </div>

</body>

</html>