<!-- Work In Progress -->
<div id="wip-container">
  <img src="/static/images/icons/girl.png">
  <div id="text-box">
    <h2>Oops! This page is currently under works and will be available very soon!</h2>
  </div>
  <a href="/">
    <h4>Go back to home.</h4>
  </a>
</div>